*{
    box-sizing: border-box; 
}

body{
    background-color: black;
    font-family: classicRobot;
    color: #B5FF0A;
    text-align:center;
    margin:0 auto;
    font-size: 30px;
    padding: 10%;
    padding-top: 1%;
}

@font-face {
    font-family: classicRobot;
    src: url(classicRobot.ttf);
}

.right{
    float: right;
    width: 60%;
    height: auto;
}

h1{
    font-size: 50px;
}

a { 
    color: #ffffff; 
    text-decoration: none;
}

fieldset{
    border:10px groove #B5FF0A;
    padding: 20px;
    margin: auto;
}

label, input, button{
    margin: 1%;
    display: inline-block;
}

label{
    width: 200px;
}

#calculatorIMG{
    width: 30%;
    height: auto;
    float: left;
    margin-top: 12%;
}